.env
data/jobs.xlsx
__pycache__/
*.pyc
*.pyo
outputs/cvs/*.pdf
outputs/cvs/*.tex
outputs/cvs/*.aux
outputs/cvs/*.log
outputs/cover_letters/*.pdf
outputs/cover_letters/*.tex
outputs/cover_letters/*.aux
outputs/cover_letters/*.log
.ipynb_checkpoints/
*.egg-info/
dist/
build/
.venv/
venv/
